.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
}

/* HEADER */

.header {
  background-color: white;
  width: 100%;
}
.header-container {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-part {
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 3;

  background-color: white;
}
.logo {
  width: 250px;
  object-fit: cover;
  display: flex;
  flex: 1;
}

.new-offer {
  background-color: #f56b2a;
  color: white;
  border: none;
  font-size: 24px;
  width: 320px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  margin-left: 22px;
}

.square {
  margin-right: 20px;
  font-size: 40px;
}

.research {
  border: none;
  height: 107px;
  width: 20px;
  font-size: 24px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 30px;
  margin-right: 60px;
  border-bottom: solid #f56b2a 6px;
  border-radius: 0px;
  background-color: white;
}

.search {
  margin-right: 20px;
  font-size: 40px;
}

.to-connect {
  width: 150px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  background-color: white;
}

.user {
  font-size: 30px;
}

.to-disconnect {
  width: 190px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: white;
}

/*ADVERT*/
.orange-part-1 {
  background-color: #f56b2a;
  width: 100%;
  padding: 60px;
}
.orange-part-2 {
  background-color: #f56b2a;
  width: 100%;
  padding: 60px;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  margin-bottom: 200px;
}
.search-form {
  width: 810px;
  padding: 70px 100px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #cad1d9;
  position: absolute;
  margin-top: 200px;
}

.search-form input {
  color: #8897a5;
  background-color: #f5f6f7;
  border: none;
  height: 50px;
}

.search-part-1 {
  display: flex;
  padding: 10px 20px;
}

.search-part-1 input {
  display: flex;
  flex: 2;
}
.search-part-1 button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.search-part-2 {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.search-text-1 {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.search-text-2 {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.input-search {
  font-size: 22px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 10px;
}
.prix {
  display: flex;
  flex: 2;
}
.prix-min {
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 7px;
}
.prix-max {
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 7px;
}

.tri {
  display: flex;
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 7px;
}

.photos-list {
  background-color: #cad1d9;
  width: 240px;
  height: 180px;
  object-fit: contain;
}

.one-offer {
  width: 1200px;
  height: 180px;
  margin: 10px 10px;
  display: flex;
  background-color: white;
  box-shadow: 10px 10px 10px #cad1d9;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

.one-offer-title {
  font-size: 26px;
  color: black;
  font-family: "Roboto", sans-serif;
}
.one-offer-price {
  font-size: 20px;
  color: #f56b2a;
}
.one-offer-creation {
  font-size: 16px;
  color: black;
}

.one-offer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 20px;
}

/*DETAILED ADVERT*/

.detailedOffer {
  font-family: "Roboto", sans-serif;

  line-height: 40px;
}
.part-1 {
  background-color: white;
  box-shadow: 10px 10px 10px #cad1d9;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 50px;
}

.part-2 {
  margin-top: 50px;
  margin-left: 20px;
}
.detailed-offer-photo {
  width: 700px;
  object-fit: cover;
  padding-bottom: 20px;
}
.detailed-offer-title {
  font-size: 32px;
  color: black;
  margin-left: 20px;
}
.detailed-offer-price {
  font-size: 24px;
  color: #f56b2a;
  margin-left: 20px;
}
.detailed-offer-creation {
  font-size: 20px;
  color: black;
  margin-left: 20px;

  font-family: "Roboto", sans-serif;
}
.description {
  font-weight: bold;
  height: 50px;
  font-size: 28px;
  line-height: 30px;
}
.detailed-offer-description {
  font-size: 22px;
  line-height: 40px;
}

/* LOG IN*/

.all {
  background-color: white;
  box-shadow: 5px 5px 5px #cad1d9;
  margin: 50px 0px 70px 0px;
  padding-bottom: 100px;
}
.form-title {
  font-size: 32px;
  padding-bottom: 40px;
  border-bottom: solid #f56b2a;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.form {
  width: 810px;
  padding: 20px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 20px;
  width: 80%;
  padding: 10px 10px;
  border: solid thin #7f7f7f;
  border-radius: 10px 10px;
  background-color: #fcf9f9;
}

.input-connect {
  font-size: 20px;
  padding: 22px 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 10px 10px;
  border: solid thin #7f7f7f;
}
.submit {
  background-color: #4183d7;
  color: white;
  font-size: 24px;
  padding: 22px 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 10px 10px;
}

.button-create {
  color: #4183d7;
  background-color: white;
  border: solid thin #4183d7;
  font-size: 24px;
  padding: 22px 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 10px 10px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.subtitle-2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  border-top: solid thin #cad1d9;
  padding-top: 30px;
  margin-top: 30px;
}

/*SIGN-UP*/

.all-sign-up {
  display: flex;
  border: solid #4183d7 thin;
  background-color: white;
  padding: 30px 30px;
  width: 1200px;
  margin-top: 100px;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px;
}

.sign-up-section {
  display: flex;
  font-size: 20px;
  text-align: justify;
  margin: 20px 20px;
  line-height: 30px;
}
.clock,
.bell,
.eye {
  font-size: 40px;
  margin-right: 30px;
  color: #4183d7;
}

.creation-title {
  font-size: 32px;
  padding-bottom: 40px;
  border-bottom: solid #f56b2a;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.passwords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;
}

.confirmPassword {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  flex: 1;
}

.register-button {
  background-color: #4183d7;
  color: white;
  font-size: 26px;
  margin-top: 40px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.condition {
  display: flex;
  flex: 8;
  font-size: 16px;
}
.box {
  display: flex;
  flex: 1;
}
.input-create-count {
  border-color: #d9e0eb;
  height: 40px;
  margin: 10px 0px;
  border-radius: 10px;
  border-color: #cad1d9;
}

/*PUBLISH*/

.publish-page {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 40px;
  box-shadow: 10px 10px 10px #cad1d9;
}

.publish-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 30px 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.publish-title {
  font-size: 32px;
  padding-bottom: 40px;
  border-bottom: solid #f56b2a;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.valid-button {
  width: 100%;
  background-color: #4183d7;
  color: white;
  font-size: 26px;
  margin-top: 40px;
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  border-radius: 7px 7px;
  margin-bottom: 30px;
}

.publish-input-title {
  border: solid thin;
  border-color: #e9eef4;
  border-radius: 10px 10px;
  height: 50px;
  font-size: 20px;
  color: #7f7f7f;
}
.publish-input-text {
  border: solid thin;
  border-color: #e9eef4;
  border-radius: 10px 10px;
  height: 180px;
  font-size: 20px;
  color: #7f7f7f;
}

.publish-input-price {
  border: solid thin;
  border-color: #e9eef4;
  border-radius: 10px 10px;
  height: 50px;
  width: 50%;

  font-size: 20px;
  color: #7f7f7f;
}

.publish-photo {
  font-size: 20px;

  font-family: "Roboto", sans-serif;
}
/*FOOTER*/

.footer {
  background-color: #474747;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-top: 230px;
  font-family: "Roboto", sans-serif;
}
